<h1>Hello Rails!!!</h1>
<p class="lead">Esto es una prueba de Ruby on Rails, se trata de un blog muy muy muy sencillo con un CRUD de Articulos y comentarios y un sistema de autenticacíon muy básico.</p>
<%= link_to 'Empezar', {:controller => 'articles', :action => 'index'},{:class => "btn btn-lg btn-success"} %>
